.buttons button {
    min-width: 60px;
    max-width: 200px;
    width: 33%;
    height: 35px;
    border-radius: 7px;
    font-size: 12px;
    font-family: "Recursive";
    color: #fff;
    border: none;
  }
  
  .button-wrong {
    background-color: #ff3030;
  }
  
  .button-half {
    background-color: #ff992e;
  }
  
  .button-correct {
    background-color: #2fbe34;
  }