@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500&family=Righteous&family=Roboto:wght@100;300;400;700&display=swap");

body {
  background-color: #fb6b6b;
}

* {
  box-sizing: border-box;
  font-family: "Righteous";
}

/* Tela 1 */
.screenOne {
  width: max-content;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.screenOne > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screenOne h1 {
  display: block;
  width: fit-content;
  margin: 10px 0;

  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.screenOne img {
  display: block;
  width: 77px;
  height: 91px;
}

.screenOne > button {
  display: block;
  width: 182.19px;
  height: 31px;
  background-color: #fff;
  border: 1px solid #d70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  color: #d70900;
  font-family: "Recursive";
  font-size: 12px;
}
/*-------------- Tela 1 FIM -----------*/

/* Tela 2 */

header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

footer {
  min-height: 70px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  font-family: "Recursive";
  color: #333;
}

.screenTwo h2 {
  margin: 0 10px;
  color: #fff;
  font-size: 35px;
}

.screenTwo img {
  width: 33px;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 150px;
}

.questions img {
  width: 15px;
}

.question {
  width: 80%;
  height: 65px;
  margin: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #333333;
  position: relative;
  transition: ease all 0.3s;
}

.closed {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opened {
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: relative;
  background-color: #0000;
}

.front-face img {
  position: absolute;
  width: 20px;
  right: 15px;
  bottom: 15px;
}

.screenTwo span {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: left;
  position: absolute;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.front-face {
  transform: rotateY(180deg);
}

.flip-front {
  transform: rotateY(0deg);
}

.flip-back {
  transform: rotateY(-180deg);
}

.front-face span,
.back-face span {
  text-align: left;
  display: inline;
  font-family: "Recursive";
  font-size: 13px;
  color: #333;
}

.open {
  height: 100px;
  background-color: #ffffd4;
}

.back-face {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  min-width: 60px;
  max-width: 85px;
  width: 33%;
  height: 35px;
  border-radius: 7px;
  font-size: 12px;
  font-family: "Recursive";
  color: #fff;
  border: none;
}

.button-wrong {
  background-color: #ff3030;
}

.button-half {
  background-color: #ff992e;
}

.button-correct {
  background-color: #2fbe34;
}

.wrong,
.half,
.correct {
  text-decoration-line: line-through;
}

.wrong {
  color: #ff3030;
}
.half {
  color: #ff992e;
}
.correct {
  color: #2fbe34;
}

footer {
  display: flex;
  max-height: 380px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}

.top {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.top > h1 {
  font-size: 20px;
}

footer > p {
  font-size: 15px;
  text-align: center;
  margin: 5px 0;
}

.top img {
  width: 20px;
  margin-right: 10px;
}

.footer-icons {
  margin: 10px 0;
}

.footer-icons > img {
  margin: 0 3px;
  width: 20px;
}
